<!DOCTYPE html>
<html lang="ru" >

<head>
  <meta charset="UTF-8">
  <title>todo1</title>
  <link rel="stylesheet" href="../css/styletodo1.css">
  <script defer src="../../vendor/jquery/jquery.min.js"></script>
  <script defer src="../js/scripttodo1.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<div id="list" class="todo">
  <h2 class="todo__caption">Список дел</h2>
  <ul class="todo__list">
  </ul>
  <div class="todo__controls">
    <input type="text" class="todo__text" />
    <button disabled="disabled" class="todo__add">Добавить</button>
  </div>
</div>
<!-- partial -->
  

</body>
</html>
